name: "Reusable Build"

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
      runs_on:
        required: false
        type: string
        default: "tatahostit-runners"
    outputs:
      image_tag:
        value: ${{ jobs.build.outputs.image_tag }}

jobs:
  build:
    runs-on: ${{ inputs.runs_on }}
    outputs:
      image_tag: ${{ steps.calc_tag.outputs.tag }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Calculate Version Tag
        id: calc_tag
        run: |
          TAG="$(TZ=America/Los_Angeles date +'%Y.%m.%d.%H%M')-$(git rev-parse --short HEAD)"
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "Generated Version: $TAG"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: harbor.tatahostit.com/library/${{ inputs.app_name }}
          tags: |
            type=ref,event=branch
            type=raw,value=${{ steps.calc_tag.outputs.tag }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=harbor.tatahostit.com/library/${{ inputs.app_name }}:${{ github.ref_name }}
          cache-to: type=inline